$white: #ffffff;
$faded-white: rgba(255, 255, 255, 0.8);

$gray0: #f5f5f5;
$gray1: #efefef;
$gray2: #c5cad0;
$gray3: #9c9c9c;
$gray4: #4a4a4a;
$gray5: #2f2f2f;

$blue0: #6da2d3;
$blue1: #3e81c2;

$error-orange: #fb8173;

